.hidden{
    display:none;
}
body{
    position: relative;
    margin:0;
    display: start;
    justify-content: center;
}
#quote span{
    display: flex;
    justify-content: center;    
}
img{
    width: 100%;
    position: absolute;
    top:0;
    z-index:-1;
}
#big{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    margin:0;
}
#weather span{
    display:block;
    justify-content: center;    
}
#clock{
    font-size:40px;
}
h1{
    font-size:50px;
}
#big-clock{
    background-color:aqua;
}
#big-form,#big-name{
    background-color:rgb(255, 157, 0);
}